<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="/components/head.html :: head"></th:block>
    <title>Create a Post</title>
</head>
<body>
    <nav th:replace="/components/navbar.html :: navbar"></nav>

    <h1>Create A Post</h1>

    <form th:action="@{/posts/create}" th:method="POST" th:object="${post}" style="margin: 3em;">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input id="title" th:field="*{title}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="body" class="form-label">Body</label>
            <textarea id="body" th:field="*{body}" class="form-control" style="height: 100px"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>

    <footer th:replace="/components/footer.html :: footer"></footer>
</body>
</html>